<launch>

    <!-- load box description -->
    <param name="box_description" command="$(find xacro)/xacro --inorder '$(find box_description)/urdf/box.urdf.xacro'" />

    <!-- static transform -->
    <node pkg="tf" type="static_transform_publisher" name="world_to_box" args="0 0 0 0 0 0 world box_base_link 100" />
    
    <!-- robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="box_state_publisher" output="screen">
        <param name="publish_frequency" value="50.0" />
        <remap from="robot_description" to="box_description" />
        <remap from="joint_states" to="box_joint_states" />
    </node>

    <include file="$(find panda_moveit_config)/launch/franka_control.launch" pass_all_args="true">
        <arg name="robot_ip"        value="fci"/>
        <arg name="load_gripper"    value="true"/>
    </include>

</launch>