<launch>

    <arg name="task_order"/>

    <!-- set parameters and custom transforms -->
    <include file="$(find thi_robothix_grand_challenge_2023)/launch/meta.launch"/>

    <!-- start franka control -->
    <include file="$(find panda_moveit_config)/launch/franka_control.launch" pass_all_args="true">
        <arg name="robot_ip"        value="fci"/>
        <arg name="load_gripper"    value="true"/>
    </include>

    <!-- only for testing purposes. needs to be exchanged with camera based recognition node -->
    <!-- start box_position_publisher with 10s delay -->
    <param name="/box_position_point/p1" value="0.3 0.3 0.0"/>
    <param name="/box_position_point/p2" value="0.3 0.3 0.0"/>
    <param name="/box_position_point/p3" value="0.3 0.3 0.0"/>
    <node name="box_position_publisher" pkg="box_position_publisher" type="box_position_publisher_node" output="screen" launch-prefix="bash -c 'sleep 10; $0 $@' "/>

    <!-- start thi_robothix_grand_challenge_node with 10s delay -->
    <param name="task_order" value="$(arg task_order)"/>
    <node name="thi_robothix_main" pkg="thi_robothix_grand_challenge_2023" type="thi_robothix_grand_challenge_node" output="screen" launch-prefix="bash -c 'sleep 10; $0 $@' "/>

</launch>