<launch>
    <include file="$(find thi_robothix_grand_challenge_2023)/launch/meta.launch"/>

    <include file="$(find panda_moveit_config)/launch/franka_control.launch" pass_all_args="true">
        <arg name="robot_ip"        value="fci"/>
        <arg name="load_gripper"    value="true"/>
    </include>

</launch>