<launch>
    
    <arg name="task_order"/>

    <!-- set parameters and custom transforms -->
    <include file="$(find thi_robothix_grand_challenge_2023)/launch/meta.launch"/>

    <!-- start simulation -->
    <include file="$(find panda_moveit_config)/launch/demo.launch" pass_all_args="true">
        <arg name="rviz_tutorial"        value="true"/>
    </include>

    <!-- start thi_robothix_grand_challenge_node with 10s delay -->
    <param name="task_order" value="$(arg task_order)"/>
    <node name="thi_robothix_main" pkg="thi_robothix_grand_challenge_2023" type="thi_robothix_grand_challenge_node" output="screen" launch-prefix="bash -c 'sleep 10; $0 $@' "/>

</launch>
